In [1]:
# Reading in the initial data

import pandas as pd

weather = pd.read_csv("local_weather.csv", index_col="DATE")

weather

,STATION,NAME,ACMH,ACSH,AWND,DAPR,FMTM,FRGT,MDPR,PGTM,...,WT01,WT02,WT03,WT04,WT05,WT07,WT08,WT09,WT16,WT18
DATE,,,,,,,,,,,,,,,,,,,,,
1960-01-01,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-02,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1960-01-03,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-04,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-05,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-24,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,4.47,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2022-01-25,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,4.70,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2022-01-26,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,2.68,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2022-01-27,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,3.13,NaN,NaN,NaN,NaN,1526.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-28,USW00023230,"OAKLAND INTERNATIONAL AIRPORT, CA US",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
weather.apply(pd.isnull).sum()/weather.shape[0]
#checking how much data is missing and 
#/weather.shape[0] means putting it over percentage ie. divinding by the number of rows.

STATION    0.000000
NAME       0.000000
ACMH       0.653360
ACSH       0.653360
AWND       0.522451
DAPR       0.999525
FMTM       0.870099
FRGT       0.999881
MDPR       0.999525
PGTM       0.495106
PRCP       0.016668
SNOW       0.324990
SNWD       0.317634
TAVG       0.879174
TMAX       0.000534
TMIN       0.000593
TSUN       0.931728
WDF1       0.653360
WDF2       0.522392
WDF5       0.527552
WDFG       0.746901
WSF1       0.653360
WSF2       0.522332
WSF5       0.527552
WSFG       0.746901
WT01       0.779939
WT02       0.980248
WT03       0.992941
WT04       0.999763
WT05       0.998339
WT07       0.999881
WT08       0.810368
WT09       0.999881
WT16       0.884038
WT18       0.999822
dtype: float64

In [6]:
core_weather = weather[["PRCP","SNOW","SNWD","TMAX","TMIN"]].copy()

In [ ]:
core_weather.columns = ["precip", "snow", "snow_depth", "temp_max", "temp_min"}]

In [13]:
core_weather

            precip  snow  snow_depth  temp_max  temp_min
DATE
1960-01-01     0.0   0.0         0.0      49.0      30.0
1960-01-02     0.0   0.0         0.0      49.0      29.0
1960-01-03     0.0   0.0         0.0      54.0      35.0
1960-01-04     0.0   0.0         0.0      54.0      36.0
1960-01-05     0.0   0.0         0.0      55.0      33.0
...            ...   ...         ...       ...       ...
2022-01-24     0.0   NaN         NaN      60.0      39.0
2022-01-25     0.0   NaN         NaN      57.0      43.0
2022-01-26     0.0   NaN         NaN      57.0      41.0
2022-01-27     0.0   NaN         NaN      67.0      39.0
2022-01-28     0.0   NaN         NaN      64.0      39.0

[16859 rows x 5 columns]

In [14]:
core_weather.apply(pd.isnull).sum()/weather.shape[0]

precip        0.016668
snow          0.324990
snow_depth    0.317634
temp_max      0.000534
temp_min      0.000593
dtype: float64

In [15]:
core_weather['snow'].value_counts()
#only 1 value, won't give machine learning much to process through so we can delete this column

0.0    11379
1.0        1
Name: snow, dtype: int64

In [16]:
del core_weather['snow']

In [17]:
core_weather['snow_depth'].value_counts()

0.0    11504
Name: snow_depth, dtype: int64

In [18]:
del core_weather['snow_depth']

In [19]:
core_weather[pd.isnull(core_weather['precip'])]

            precip  temp_max  temp_min
DATE
1983-10-29     NaN      67.0      57.0
1983-10-30     NaN      70.0      63.0
1983-10-31     NaN      69.0      61.0
1983-11-12     NaN      63.0      55.0
1983-11-13     NaN      60.0      50.0
...            ...       ...       ...
2013-12-15     NaN      58.0      33.0
2016-05-01     NaN      80.0      55.0
2016-05-02     NaN      68.0      53.0
2016-05-08     NaN      67.0      56.0
2017-10-28     NaN      68.0      50.0

[281 rows x 3 columns]

In [20]:

core_weather['precip'].value_counts()

0.00    13664
0.01      438
0.02      199
0.03      122
0.04      102
        ...
1.19        1
1.88        1
2.39        1
1.59        1
2.37        1
Name: precip, Length: 176, dtype: int64

In [21]:
#replace all null values with 0
core_weather['precip'] = core_weather['precip'].fillna(0)

In [27]:
core_weather[pd.isnull(core_weather['precip'])]

Empty DataFrame
Columns: [precip, temp_max, temp_min]
Index: []

In [25]:
core_weather[pd.isnull(core_weather['temp_min'])]
#checking the rows where temp_min has missing values.

            precip  temp_max  temp_min
DATE
2004-11-20     0.0       NaN       NaN
2011-12-21     0.0      61.0       NaN
2011-12-22     0.0      62.0       NaN
2011-12-23     0.0      56.0       NaN
2011-12-24     0.0      55.0       NaN
2011-12-25     0.0      54.0       NaN
2013-06-16     0.0       NaN       NaN
2020-08-29     0.0       NaN       NaN
2020-09-08     0.0       NaN       NaN
2020-09-09     0.0       NaN       NaN

In [28]:
core_weather = core_weather.fillna(method='ffill')
#fill forward the empty rows with the rows before it

In [29]:
core_weather.apply(pd.isnull).sum()/weather.shape[0]
#check that there are no missing values now

precip      0.0
temp_max    0.0
temp_min    0.0
dtype: float64

In [31]:
#Ensure that all of the columns are numeric (float or integer)
core_weather.dtypes

precip      float64
temp_max    float64
temp_min    float64
dtype: object

In [32]:
#Verify the index is stored as a datetime.
#If it isn't, then convert it using pd.to_datetime(df)
core_weather.index

Index(['1960-01-01', '1960-01-02', '1960-01-03', '1960-01-04', '1960-01-05',
       '1960-01-06', '1960-01-07', '1960-01-08', '1960-01-09', '1960-01-10',
       ...
       '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-22', '2022-01-23',
       '2022-01-24', '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28'],
      dtype='object', name='DATE', length=16859)

In [33]:
core_weather.index = pd.to_datetime(core_weather.index)

In [34]:
core_weather.index

DatetimeIndex(['1960-01-01', '1960-01-02', '1960-01-03', '1960-01-04',
               '1960-01-05', '1960-01-06', '1960-01-07', '1960-01-08',
               '1960-01-09', '1960-01-10',
               ...
               '2022-01-19', '2022-01-20', '2022-01-21', '2022-01-22',
               '2022-01-23', '2022-01-24', '2022-01-25', '2022-01-26',
               '2022-01-27', '2022-01-28'],
              dtype='datetime64[ns]', name='DATE', length=16859, freq=None)

In [37]:
core_weather.apply(lambda x: (x==9999).sum())
#df.apply() checks the df row by row for the conditions specified inside the brackets

precip      0
temp_max    0
temp_min    0
dtype: int64

In [38]:
#plotting out the data to see if there are any missing years
core_weather[['temp_max','temp_min']].plot()

In [40]:
core_weather.index.year.value_counts().sort_index()

1960    366
1961    365
1962    365
1963    365
1964    366
1965    365
1966    365
1967    365
1968    366
1969    365
1970    365
1971    365
1972    366
1973    365
1974    365
1975    365
1976    366
1977    365
1978    365
1979    365
1980    366
1983    184
1984    366
1985    365
1986    212
2000    365
2001    365
2002    365
2003    365
2004    366
2005    365
2006    365
2007    365
2008    366
2009    365
2010    365
2011    365
2012    365
2013    365
2014    365
2015    365
2016    366
2017    365
2018    365
2019    365
2020    366
2021    364
2022     28
Name: DATE, dtype: int64

In [41]:
core_weather['precip'].plot()

In [43]:
core_weather.groupby(core_weather.index.year).sum()['precip']
#telling us how much it rained each year

DATE
1960    14.01
1961    13.87
1962    22.47
1963    19.11
1964    16.83
1965    16.32
1966    13.11
1967    23.98
1968    17.19
1969    25.70
1970    25.31
1971    10.61
1972    16.27
1973    29.37
1974    16.87
1975    17.54
1976     8.64
1977    11.70
1978    22.57
1979    23.79
1980    13.58
1983     7.13
1984    16.03
1985     8.50
1986     0.00
2000    21.09
2001    22.84
2002    19.12
2003    11.37
2004    12.97
2005    27.37
2006    22.79
2007    12.79
2008    13.86
2009    14.57
2010    22.67
2011    16.06
2012    22.93
2013     4.89
2014    19.62
2015     8.58
2016    19.77
2017    23.34
2018    16.82
2019    20.00
2020     6.42
2021    20.82
2022     0.25
Name: precip, dtype: float64

In [ ]:
#training the machine learning model. 
#first, we figure out what to predict, the target (eg. the maximum temperature tommorow)
#shift(-1) will pull every row back 1 position, ensuring we predict tommorow's temp

In [44]:
core_weather['target'] = core_weather.shift(-1)['temp_max']

In [45]:
core_weather

            precip  temp_max  temp_min  target
DATE
1960-01-01     0.0      49.0      30.0    49.0
1960-01-02     0.0      49.0      29.0    54.0
1960-01-03     0.0      54.0      35.0    54.0
1960-01-04     0.0      54.0      36.0    55.0
1960-01-05     0.0      55.0      33.0    53.0
...            ...       ...       ...     ...
2022-01-24     0.0      60.0      39.0    57.0
2022-01-25     0.0      57.0      43.0    57.0
2022-01-26     0.0      57.0      41.0    67.0
2022-01-27     0.0      67.0      39.0    64.0
2022-01-28     0.0      64.0      39.0     NaN

[16859 rows x 4 columns]

In [46]:
core_weather = core_weather.iloc[:-1,:].copy()
#deleting the row with last value because the last row won't have a next day

In [47]:
core_weather

            precip  temp_max  temp_min  target
DATE
1960-01-01     0.0      49.0      30.0    49.0
1960-01-02     0.0      49.0      29.0    54.0
1960-01-03     0.0      54.0      35.0    54.0
1960-01-04     0.0      54.0      36.0    55.0
1960-01-05     0.0      55.0      33.0    53.0
...            ...       ...       ...     ...
2022-01-23     0.0      60.0      41.0    60.0
2022-01-24     0.0      60.0      39.0    57.0
2022-01-25     0.0      57.0      43.0    57.0
2022-01-26     0.0      57.0      41.0    67.0
2022-01-27     0.0      67.0      39.0    64.0

[16858 rows x 4 columns]

In [51]:
#using ridge regression (regression that minimises overfitting)

from sklearn.linear_model import Ridge
reg = Ridge(alpha=.1)

In [52]:
#Now, we will identify what columns we will use to make our predictions
predictors = ['precip', 'temp_max', 'temp_min']

In [54]:
# make a training and testing dataset. Make sure to make training data historical and testing data more present.
train = core_weather.loc[:'2021-01-10']
test = core_weather.loc['2021-01-01':]

In [58]:
reg.fit(train[predictors], train['target'])

Ridge(alpha=0.1)

In [59]:
predictions = reg.predict(test[predictors])

In [60]:
#check the model's accuracy. On average, the model's prediction is 3.4 degrees off
from sklearn.metrics import mean_absolute_error

mean_absolute_error(test['target'], predictions)

3.411186429437185

In [64]:
#evaluating our model
combined = pd.concat([test['target'], pd.Series(predictions, index=test.index)], axis=1)
#renaming the columns
combined.columns = ['actual', 'predictions']

In [65]:
combined

            actual  predictions
DATE
2021-01-01    57.0    59.805773
2021-01-02    56.0    59.309748
2021-01-03    62.0    58.538537
2021-01-04    59.0    61.530837
2021-01-05    59.0    59.444039
...            ...          ...
2022-01-23    60.0    59.985473
2022-01-24    57.0    59.626072
2022-01-25    57.0    58.181470
2022-01-26    67.0    57.822069
2022-01-27    64.0    64.674014

[391 rows x 2 columns]

In [66]:
combined.plot()

In [68]:
reg.coef_

array([-2.20946129,  0.72113449,  0.17970031])

In [70]:
'''Creating a function we can call for predictions to enable quick iteration.def create_predictions(predictors, core_weather, reg):
   1. split the dataset into train and test
   2. fit the model
   3. make predictions
   4. error metric
   5. combine actual values with predicted values'''

    train = core_weather.loc[:'2021-01-10']
    test = core_weather.loc['2021-01-01':]
    
    reg.fit(train[predictors], train['target'])
    
    predictions = reg.predict(test[predictors])
    
    error = mean_absolute_error(test['target'], predictions)
    
    combined = pd.concat([test['target'], pd.Series(predictions, index=test.index)], axis=1)
    combined.columns = ['actual', 'predictions']
    
    return error, combined

In [72]:
#feature engineering. We want to create more features. We will add in rolling means.  This variable we will call `month_max` is a rolling thirty day average of `temp_max`

core_weather['month_max'] = core_weather['temp_max'].rolling(30).mean()
core_weather

            precip  temp_max  temp_min  target  month_max
DATE
1960-01-01     0.0      49.0      30.0    49.0        NaN
1960-01-02     0.0      49.0      29.0    54.0        NaN
1960-01-03     0.0      54.0      35.0    54.0        NaN
1960-01-04     0.0      54.0      36.0    55.0        NaN
1960-01-05     0.0      55.0      33.0    53.0        NaN
...            ...       ...       ...     ...        ...
2022-01-23     0.0      60.0      41.0    60.0  56.900000
2022-01-24     0.0      60.0      39.0    57.0  57.066667
2022-01-25     0.0      57.0      43.0    57.0  57.200000
2022-01-26     0.0      57.0      41.0    67.0  57.400000
2022-01-27     0.0      67.0      39.0    64.0  57.933333

[16858 rows x 5 columns]